{% extends 'RUser/design.html' %}
{% block userblock %}

<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#FFFFFF;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			input{
			font-family:'Russo One', sans-serif;
			font-size:15px;
			}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">VIEW TRENDING PRODUCTS BY HASH TAG</p>
                            <hr>


							<div class="viewtopic">
							<table>

								<tr>
									{% for object in objects %}


									<td>{{object.topics}}</td>

								</tr>
									{% endfor %}

							</table>
							</div>
							<div class="topicimage"></div>





						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}